.common-list {
    list-style: none;
}

.common-list > li {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.container {
    display: flex;
    height: 100vh;
}

.menu {
    flex: 0 0 200px; /* Fixed width for the menu */
    border-right: 1px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#contacts-list {
    max-height: 90vh;
    overflow-y: auto;
}

.main-content {
    flex: 1;
    padding: 20px;
}

button.delete {
    color: red;
}

.fancy {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 25px;
}

.fancy:hover {
    background-color: rgb(191, 196, 201);
}

.fancy:active {
    background-color: rgb(147, 152, 156);
}

.buttons {
    display: flex;
    gap: 4px;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    align-items: center;
}

input {
    padding: 4px;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid #a7a7a7; /* Subtle border */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}